.listings-page {
    width: 100%;
    padding: 1rem 3rem;
}

.listings-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 24px;
}

@media (max-width: 992px) {
    .listings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .listings-page {
        padding: 1rem;
    }

    .listings-grid {
        grid-template-columns: 1fr;
    }
}